<template>
  <div>
    <h4>Catalog index</h4>
    <n-link to="/">Shop Main Page</n-link>
    <n-link to="/catalog/category">Categories</n-link>
    <n-link to="/catalog/category/subcategory">SubCategories</n-link>
    <n-link to="/catalog/category/subcategory/prod_name">SubCategoryProdName</n-link>
  </div>
</template>

<script>
export default {
  name: "index"
}
</script>

<style scoped>

</style>
