<template>
  <div>
    <h4>Shop main page</h4>
    <n-link to="/catalog">Catalog</n-link>
    <n-link to="/catalog/category">Categories</n-link>
    <n-link to="/catalog/category/subcategory">SubCategories</n-link>
    <n-link to="/catalog/category/subcategory/prod_name">SubCategoryProdName</n-link>
  </div>
</template>

<script>
export default {}
</script>

<style>

</style>
