<template>
  <div>
    <h4>SubCategory Product-Name</h4>
    <n-link to="/">Shop Main Page</n-link>
    <n-link to="/catalog">Catalog</n-link>
    <n-link to="/catalog/category">Category</n-link>
    <n-link to="/catalog/category/subcategory">SubCategory</n-link>
  </div>
</template>

<script>
export default {
  name: "id"
}
</script>

<style scoped>

</style>
